<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.payments" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSPayments</name>
  <description>OutSystems-owned plugin for mobile payments</description>
  <author>OutSystems Inc</author>
  <js-module name="OSPayments" src="www/OSPayments.js">
    <clobbers target="cordova.plugins.OSPayments"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSPayments">
        <param name="android-package" value="com.outsystems.payments.OSPayments"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/com/outsystems/payments/OSPayments.java" target-dir="src/com/outsystems/payments"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OSPayments">
        <param name="ios-package" value="OSPayments"/>
      </feature>
    </config-file>
    <source-file src="src/ios/OSPayments.m"/>
    <header-file src="src/ios/OSPayments.h"/>
  </platform>
</plugin>