<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.payments" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSPayments</name>
  <description>OutSystems-owned plugin for mobile payments</description>
  <author>OutSystems Inc</author>
  <js-module name="OSPayments" src="www/OSPayments.js">
    <clobbers target="cordova.plugins.OSPayments"/>
  </js-module>

  <platform name="android">

    <hook type="after_prepare" src="hooks/android/androidCopyPreferences.js" />

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSPayments">
        <param name="android-package" value="com.outsystems.payments.OSPayments"/>
      </feature>
      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="AndroidXEnabled" value="true"/>
    </config-file>

    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
    </config-file>

    <config-file parent="/resources" target="res/values/strings.xml">
      <string name="merchant_name">MERCHANT_NAME</string>
      <string name="merchant_country_code">MERCHANT_COUNTRY_CODE</string>
      <string name="payment_allowed_networks">ALLOWED_NETWORKS</string>
      <string name="payment_supported_capabilities">SUPPORTED_CAPABILITIES</string>
      <string name="payment_supported_card_countries">SUPPORTED_CARD_COUNTRIES</string>
      <string name="shipping_supported_contacts">SHIPPING_SUPPORTED_CONTACTS</string>
      <string name="billing_supported_contacts">BILLING_SUPPORTED_CONTACTS</string>
      <string name="tokenization">TOKENIZATION</string>
    </config-file>

    <source-file src="src/android/com/outsystems/payments/OSPayments.kt" target-dir="app/src/main/kotlin/com/outsystems/payments"/>
    <resource-file src="src/android/lib/OSPaymentsLib.aar" target="libs/OSPaymentsLib.aar" />
    <framework src="src/android/com/outsystems/payments/build.gradle" custom="true" type="gradleReference" />

  </platform>

  <platform name="ios">
    <!-- Hooks -->
    <hook type="after_prepare" src="hooks/ios/iOSCopyPreferences.js" />

    <dependency id="cordova-plugin-add-swift-support" url="https://github.com/OutSystems/cordova-plugin-add-swift-support.git#2.0.3-OS1"/>

    <config-file parent="/*" target="config.xml">
      <feature name="OSPayments">
        <param name="ios-package" value="OSPayments"/>
      </feature>
      <preference name="deployment-target" value="13" />
      <preference name="UseSwiftLanguageVersion" value="5" />
    </config-file>

    <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
      <array>
        <string>APPLE_PAY_MERCHANT_ID</string>
      </array>
    </config-file>

    <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
      <array>
        <string>APPLE_PAY_MERCHANT_ID</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayMerchantID">
         <string>APPLE_PAY_MERCHANT_ID</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayMerchantName">
         <string>APPLE_PAY_MERCHANT_NAME</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayMerchantCountryCode">
         <string>APPLE_PAY_MERCHANT_COUNTRY_CODE</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayPaymentAllowedNetworks">
         <string>APPLE_PAY_PAYMENT_ALLOWED_NETWORKS</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayPaymentSupportedCapabilities">
         <string>APPLE_PAY_PAYMENT_SUPPORTED_CAPABILITIES</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayPaymentSupportedCardCountries">
         <string>APPLE_PAY_PAYMENT_SUPPORTED_CARD_COUNTRIES</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayShippingSupportedContacts">
         <string>APPLE_PAY_SHIPPING_SUPPORTED_CONTACTS</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApplePayBillingSupportedContacts">
         <string>APPLE_PAY_BILLING_SUPPORTED_CONTACTS</string>
    </config-file>

    <!-- iOS Source Files -->
    <source-file src="src/ios/Error/OSPMTError.swift" />

    <source-file src="src/ios/Protocols/OSPMTActionDelegate.swift" />
    <source-file src="src/ios/Protocols/OSPMTCallbackDelegate.swift" />
    <source-file src="src/ios/Protocols/OSPMTConfigurationDelegate.swift" />
    <source-file src="src/ios/Protocols/OSPMTHandlerDelegate.swift" />

    <source-file src="src/ios/OSPMTApplePayHandler.swift" />
    <source-file src="src/ios/OSPMTPayments.swift" />

    <source-file src="src/ios/OSPayments.swift"/>
    <framework src="src/ios/frameworks/OSCore.xcframework" embed="true" custom="true" />

  </platform>

</plugin>